# Backend

## Opnerouter's "provider/model-identifier"
MODEL_NAME=

## Obtain this from your OpenRouter account
OPENROUTER_API_KEY=


# Frontends

## Necessery only for Telegram Frontend 
TELEGRAM_BOT_TOKEN=
